body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:25px;
  width:360px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u8 {
  position:absolute;
  left:1px;
  top:590px;
  width:90px;
  height:48px;
  font-size:18px;
  color:#000000;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:28px;
  top:599px;
  width:30px;
  height:30px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u13 {
  position:absolute;
  left:90px;
  top:590px;
  width:90px;
  height:48px;
  font-size:18px;
  color:#000000;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:120px;
  top:599px;
  width:30px;
  height:30px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u18 {
  position:absolute;
  left:180px;
  top:590px;
  width:90px;
  height:48px;
  font-size:18px;
  color:#000000;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:210px;
  top:599px;
  width:30px;
  height:30px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u23 {
  position:absolute;
  left:270px;
  top:590px;
  width:90px;
  height:48px;
  font-size:18px;
  color:#000000;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:300px;
  top:599px;
  width:30px;
  height:30px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
